@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default;
}
/* set color in daisyui */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: red;
  --color-secondary: green;
}